
button{
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
    border: solid black 2px;
    margin-left: 180px;
}

button:hover{
    border: 3px solid black;
    background-color: bisque;
    cursor: pointer;
}

h1{
    color: black;
    text-align: center;
}

.header-bar {
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    color: azure;
    font-size: 100%;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(90deg, bisque 0%, #EB796F 44%, bisque 100%);;

    border-top: 3px solid black;
    border-bottom: 3px solid black;
    
    margin-bottom: 50px;
    text-align: center;
}

a{
    margin-left: 20px;
    font-size: 160%;
}