body{
    background-color: bisque;
    max-width: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

.separate{
    width: 50%;
    margin: auto;
    padding: 100px;
    font-size: 150%;
    text-align: center;
}

a{
    color: blueviolet;
}

a:visited{
    text-decoration: none;
}