input[type="text"], input[type="submit"] {
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

input:hover{
    border: 3px solid black;
    background-color: bisque;
  }

form{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

button{
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 80%;
    border: solid black 2px;
    margin-left: 320px;
}

button:hover{
    border: 3px solid black;
    background-color: bisque;
    cursor: pointer;
}

h1{
    color: black;
}

.header-bar {
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    color: azure;
    font-size: 170%;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(90deg, bisque 0%, #EB796F 44%, bisque 100%);;

    border-top: 3px solid black;
    border-bottom: 3px solid black;
    
    margin-bottom: 50px;
    text-align: center;
}

.lost{
    margin-bottom: 40px;
    font-size: 120%;

}

a{
    font-weight: bold;
}